body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.header-container {
    padding-top: 16px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 3px grey;
    padding-left: 10%;
    padding-right: 10%;
}


.header-logo img {
    height: 70px;
    
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu a {
    margin-right: 16px;
    font-weight: 500;
    text-decoration: none;
    align-self: flex-end;
    border-bottom: 4px solid transparent;
    padding-bottom: 5px;
    padding-top: 0px !important;
    transition: all 225ms ease-in-out;

}

.header-menu a:hover {
    color: rgb(9, 172, 9);
    border-bottom: 4px solid rgb(9, 172, 9);
    padding-bottom: 5px;
    transition: all 225ms ease-in-out;
}


.croissant1 {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}


.description-text-container {
    padding-left: 32px;
}

.description-text-container a{
background-color: rgb(9, 172, 9);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 48px;
padding-right: 48px;
text-decoration: none;
color: white;
}
.description-text-container p{
    color: gray;
    padding-bottom: 70px;
}

.description-text-container h2{
    margin-top: 0;
}


.site-description {
    padding-top: 50px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

